# ------------------------------------------------------------------
# DEVELOPMENT REQUIREMENTS
#
# These packages are used for local development, debugging, and testing.
# This file should be used to set up a development environment.
# Install with: pip install -r requirements-dev.txt
# ------------------------------------------------------------------

# First, install all production requirements
-r requirements.txt

# Django Development & Debugging Tools
django-debug-toolbar==5.1.0
django-extensions==4.1
pydotplus==2.0.2        

# Interactive Python Shell
ipython==8.12.3