{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Set New Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img" style="background-image: url({% static 'img/bg-1.jpg' %});"></div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="w-100">
                                {% if validlink %}
                                <h3 class="mb-4">Set a New Password</h3>
                                <form method="post" class="signin-form">
                                    {% csrf_token %}

                                    <div class="form-group mt-3">
                                        {{ form.new_password1.errors }}
                                        <input type="password" name="new_password1" class="form-control" required
                                            id="id_new_password1">
                                        <label class="form-control-placeholder" for="id_new_password1">New
                                            Password</label>
                                    </div>
                                    <div class="form-group">
                                        {{ form.new_password2.errors }}
                                        <input type="password" name="new_password2" class="form-control" required
                                            id="id_new_password2">
                                        <label class="form-control-placeholder" for="id_new_password2">Confirm New
                                            Password</label>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit"
                                            class="form-control btn btn-primary rounded submit px-3">Set New
                                            Password</button>
                                    </div>
                                </form>
                                {% else %}
                                <h3 class="mb-4">Password Reset Failed</h3>
                                <p style="color: #a3a3a3;">The password reset link was invalid, possibly because it has
                                    already been used. Please request a new password reset.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main_login.js' %}"></script>
</body>

</html>