{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img" style="background-image: url({% static 'img/bg-1.jpg' %});"></div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Forgot Password?</h3>
                                </div>
                            </div>
                            <p class="text-left" style="color: #a3a3a3;">
                                Enter your email address below, and we'll send instructions for setting a new password.
                            </p>
                            <form method="post" class="signin-form">
                                {% csrf_token %}
                                <div class="form-group mt-3">
                                    {{ form.email.errors }}
                                    <input type="email" name="email" class="form-control" required id="id_email">
                                    <label class="form-control-placeholder" for="id_email">Email</label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Reset
                                        Password</button>
                                </div>
                            </form>
                            <p class="text-center"><a href="{% url 'accounts:login' %}">Back to Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main_login.js' %}"></script>
</body>

</html>